/* stickey footer*/

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: green;

}

.content{
	min-height: 100%;
	display: flex;
	flex-direction: column;

}

.content {
  flex: 1;
}

/*---------------*/

.mainsection{
	background-color: blue;
	padding: 20px;
}

h1{
	text-align: center;
}

#answers, #question, #timer {
	border-style: solid none none none;
	border-width: 2px;
	padding-top: 10px;
}