/* stickey footer*/

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/backgroud.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.content{
	min-height: 100%;
	display: flex;
	flex-direction: column;

}

.content {
  flex: 1;
}

/*---------------*/

.mainsection{
	background-color: #0366D4;
	padding: 20px;
	min-height: 400px;
	min-width: 500px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 


}

h1{
	text-align: center;
	color: white;
	font-size: 50px;
	background-color: gray;
	border-width: 2px;
	border-style: solid;
}

#answers, #question, #timer {
	border-style: solid none none none;
	border-width: 2px;
	padding-top: 10px;
}